h1{
    background-color: aqua;
}

table{
    display: block;
    table-layout: fixed;
    width: 70%;
    height: 10%;
    overflow-y: scroll;
    overflow-x: scroll;
}
table tbody{
    width:100%;
    display:table;
}

#th{
    background-color: bisque;
}